[Unit]
Description=Geth Execution Client (Holesky)
After=network.target
Wants=network.target

[Service]
User=geth
Group=geth
Type=simple
Restart=always
RestartSec=5
ExecStart=/usr/local/bin/geth \
--holesky \
--datadir=/var/lib/geth \
--authrpc.jwtsecret=/var/lib/jwtsecret/jwt.hex \
--state.scheme=path \
--port 30304 \
--http \
--http.addr <Internal_IP_address or EC2 Public IP> \
--http.port 8547 \
--pprof \
--metrics

[Install]
WantedBy=default.target